* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 100%;
    margin: 2rem auto;
    padding: 0 2rem;
}

form {
    margin: 40px 0;
}

form h1 {
    margin-bottom: 32px;
}

form fieldset {
    border: none;
}

form label, form legend {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
}

.input-padrao {
    display: block;
    margin-bottom: 16px;
    padding: 10px 5px;
    width: 50%;
}

.checkbox {
    margin-top: 16px;
}

.enviar {
    width: 30%;
    padding: 10px 0;
    background-color: #575757;
    color: #f0f0f0;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 24px;
    transition: 1s all;
}

.enviar:hover {
    background-color: #858585;
    cursor: pointer;
    transform: scale(1.1);
}

footer {
    text-align: center;
    background-color: #f0f0f0;
    margin-top: 50px;
    margin-bottom: 0;
 }
 
 footer img {
     padding: 30px 2px 0 0;
 }
 
 footer p {
     font-size: 12px;
     padding-bottom: 30px;
     color: #575757;
 }

 @media screen and (max-width: 480px) {

     .main-header ul {
             display: flex;
             flex-direction: column;
             margin: 1rem 0;
             align-items: flex-start;
             justify-content: space-between;
     }

     .menu-opcoes {
             margin-bottom: 0.5rem;
             display: flex;
             flex-direction: space-evenly;
     }

     .main-header ul li a {
             margin-bottom: 0.5rem;
             display: flex;
             flex-direction: space-evenly;
     }

     .input-padrao {
         display: block;
         margin-bottom: 16px;
         padding: 10px 5px;
         width: 80%;
     }

     .checkbox {
         margin-top: 16px;
         width: 80%;
     }

     .enviar {
         width: 80%;
         padding: 10px 0;
         background-color: #575757;
         color: #f0f0f0;
         font-size: 20px;
         font-weight: bold;
         border: none;
         border-radius: 5px;
         margin-top: 24px;
         transition: 1s all;
     }

 }