* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 1vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h2 {
    margin: 4rem 0;
}

table {
    margin-bottom: 80px;
}

table thead {
    background-color: #575757;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

td, th {
    border: 1px solid #575757;
    border-radius: 3px;
    padding: 10px 15px;
}

main p {
    color: #575757;
    font-style: italic;
    font-size: 12px;
    margin-top: 5rem;
}

footer {
    text-align: center;
    background-color: #f0f0f0;
    margin-top: 50px;
    margin-bottom: 0;
 }
 
 footer img {
     padding: 30px 2px 0 0;
 }
 
 footer p {
     font-size: 12px;
     padding-bottom: 30px;
     color: #575757;
 }

 @media screen and (max-width: 480px) {

    main {
        padding: 1rem;
    }

     main h2 {
         font-size: 1rem;
     }

     table {
         width: 80%;
     }

    table thead {
        background-color: #575757;
        color: #ffffff;
        font-size: 1rem;
        font-weight: bold;
}

 }