* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
}

.main-header {
    width: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    margin-left: 40rem;

}

.logo-div {
    margin-left: 4rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav li {
    display: flex;
    text-decoration: none;
    margin-right: 1rem;

}

nav a {
    text-transform: uppercase;
    color: #575757;
    decoration: none;
    font-weight: bold;
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
}

nav a:hover {
    font-size: 1rem;
    color: rgb(48, 163, 48);
    transition:ease-in 500ms;
}

body {
    background-color: #ffffff;
}

.apresentacao {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(./img/barbearia.png);
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
}

.apresentacao .apresentacao-texto {
    width: 80%;
}

.whatsapp {
    width: 18rem;
    padding: 1rem 0;
    background-color: #575757;
    color: #f0f0f0;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 24px;
    transition: 1s all;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.whatsapp img {
    width: 2rem;
}

.whatsapp:hover {
    background-color: #858585;
    cursor: pointer;
    transform: scale(1.05);
}

.apresentacao h1 {
    text-transform: uppercase;
    font-size: 44px;
    color: #ffffff;
    margin-bottom: 12px;
}

.apresentacao p {
    font-size: 16px;
    color: #ffffff;
}

.valores {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 1080px;
    margin: 28px auto;
}

.missao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.valores img {
    height: 100px;
}

.valores p {
    margin-top: 12px;
    text-align: center;
}

main {
    width: 1080px;
    margin: 0px auto;
}

main h3 {
    margin-top: 60px;
    font-weight: bold;
}

main p {
    margin-bottom: 24px;
}

.beneficios {
    width: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.beneficios img {
    width: 500px;
    box-shadow: 10px 10px 5px rgb(131, 131, 131);
}

footer {
    text-align: center;
    background-color: #f0f0f0;
    margin-top: 50px;
    margin-bottom: 0;
 }
 
 footer img {
     padding: 30px 2px 0 0;
 }
 
 footer p {
     font-size: 12px;
     padding-bottom: 30px;
     color: #575757;
 }


@media screen and (max-width: 480px) {

    .main-header ul {
            display: flex;
            flex-direction: column;
            margin: 1rem 0;
            align-items: flex-start;
            justify-content: space-between;
    }

    nav {
        margin-left: 4rem;
    }

    .menu-opcoes {
            display: flex;
            flex-direction: space-evenly;
    }

    .main-header ul li a {
            margin-bottom: 0.5rem;
            display: flex;
            flex-direction: space-evenly;
    }

    .main-header, .valores, .missao, .beneficios, .beneficios-cab, main {
    width: 100%;}

    .apresentacao .apresentacao-texto {
        width: 90%;
    }

    .apresentacao .apresentacao-texto h1 {
        font-size: 1rem;
    }

    .beneficios {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }

    .beneficios img {
        width: 250px;
        margin-top: 36px;
    }

    .valores {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .valores p {
        margin: 12px 0;
    }

    .missao img {
        height: 100px;
    }
} 